- Name: Proximal Ring
  Grids:
  - Name: Proximal Extensors
    Rows: 8
    Columns: 4
    Channels: 32
    X_Offset: 0
    Y_Offset: 0
    Colormap: viridis
  - Name: Proximal Flexors
    Rows: 8
    Columns: 4
    Channels: 32
    X_Offset: 5
    Y_Offset: 0
    Colormap: plasma
- Name: Distal Ring
  Grids:
  - Name: Distal Extensors
    Rows: 8
    Columns: 4
    Channels: 32
    X_Offset: 0
    Y_Offset: 0
    Colormap: YlOrRd
  - Name: Distal Flexors
    Rows: 8
    Columns: 4
    Channels: 32
    X_Offset: 5
    Y_Offset: 0
    Colormap: GnBu
- Name: 8x8 Polyimide Grid
  Grids: 
  - Name: 8-8-L
    Rows: 8
    Columns: 8
    Channels: 64
    X_Offset: 0
    Y_Offset: 0
    Colormap: magma